@import "../../styles/sass/abstracts/variables";
@import "../../styles/sass/components/globals";
@import "../../styles/sass/components/mixins";

.subText {
    color: $white-lighter;
    font-size: toRem(15);
    font-weight: $fontMedium;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.mainText {
    color: $white;
    font-size: $heroText;
    line-height: 1.05;
    margin-bottom: 1.5rem;
}

.productBtn{
    @extend %baseButton;
}

.navigateBtn {
    @extend %navigateBtn;
}



.heroSection {
    
    .heroContent {
    @extend %container;
    margin: 0 auto;
    padding: 5rem 0;
    
    
    .heroTextContent{
        width: 40%;
        @media(max-width: $layout-breakpoint-medium) {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
        @media(max-width: $layout-breakpoint-xsmall) {
            width: 100%;
            
        } 

        h1 {
            @media(max-width: $layout-breakpoint-xsmall) {
                font-size: toRem(36);
                // min-width: max-content;
            } 
        }


        .contentHeading {
            color: $faded-text;
            letter-spacing: .5rem;
            font-size: $textSmall;
            margin-bottom: 2.4rem;
        }

    }

  
    }
}

.categoriesSection {
    @extend %container;
    margin: 0 auto;
    padding: 7rem 0;


    .subCategory1 {
        height: 80vh;
        margin-top: 7rem;
        background: #d87d4a;
        border-radius: 10px;
        background-image: url("../../assets/images/oval-desktop.webp");
        background-position: 0% 78%;
        background-size: 75%;
        background-repeat: no-repeat;
        @media(max-width: $layout-breakpoint-medium) {
            background-image: url("../../assets/images/oval-tablet.webp");
            height: 80vh;
            background-position: 0% -60%;
            background-size: 105%;

        }

        .subCategoryContent {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 72%;
            margin: 0 auto;
            height: 100%;
            @media(max-width: $layout-breakpoint-medium) {
                flex-direction: column;
                padding: 3rem 0;
            }
            .left {
                width: 48%;
                height: 500px;
                @media(max-width: $layout-breakpoint-medium) {
                    height: 200px;
                    width: 45%;
                    margin: 0 auto;
                }
                img {
                    @extend %img-fluid;
                    margin-top: 2.2rem;
                    @media(max-width: $layout-breakpoint-medium) {
                        margin-top: 0;
                        object-fit: cover;
                    }
                }
            }


            .right {
                align-self: center;
                h1 {
                    @media(max-width: $layout-breakpoint-medium) {
                       text-align: center; 
                    }
                    @media (max-width:$layout-breakpoint-xsmall ) {
                       font-size: toRem(36);
                    }
                }
                p {
                    @media(max-width: $layout-breakpoint-medium) {
                       text-align: center; 
                    }
                }
                button {
                    @media(max-width: $layout-breakpoint-medium) {
                       display: flex;
                       justify-content: center;
                       width: 200px;
                       margin: 0 auto;
                    }
                }
                
            }
        }
    }

    .subCategory2 {
        margin-top: 3rem;
        background-image: url("../../assets/images/zx7-desktop.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 19rem;
        border-radius: 10px;
        @media (max-width:$layout-breakpoint-xsmall ) {
            margin-top: toRem(28);
        }

        .subCategoryDetails {
            margin: 0 auto;
            width: 72%;
            height: 100%;
            padding-top: 6rem;

            h2 {
                margin-bottom: 1rem;
                font-size: toRem(28);
                color: $black;
            }

        }
    }

    .subCategory3 {
        margin-top: 3rem;
        @extend %flex;
        height: 19rem;
        @media (max-width:$layout-breakpoint-xsmall ) {
            flex-direction: column;
            gap: toRem(28);
            margin-top: toRem(28);
        }

         .left {
          border-radius: 10px;  
          width: 49.5%;
          height: 100%;
          @media (max-width:$layout-breakpoint-xsmall ) {
            width: 100%;
            height: 220px;
        }
          img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
            border-radius: 10px;
          }

        }

        .right {
            background-color: $gray;
            width: 49.5%;
            height: 100%;
            border-radius: 10px;
            position: relative;
            @media (max-width:$layout-breakpoint-xsmall ) {
                width: 100%;
                height: auto;
                min-height: 220px;
                
            }

            .productDetails {
                
                position: absolute;
                top: 50%;
                left: 15%;
                transform: translateY(-50%);
                h2 {
                    margin-bottom: 1rem;
                    font-size: toRem(28);
                    color: $black;
                }

            }
          }
    }



}