@import "../../styles/sass/abstracts/variables";
@import "../../styles/sass/components/globals";
@import "../../styles/sass/components/mixins";


.subText {
    color: $white-lighter;
    font-size: toRem(15);
    font-weight: $fontMedium;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.mainText {
    color: $white;
    font-size: $heroText;
    line-height: 1.05;
    margin-bottom: 1.5rem;
}

.productBtn{
    display: inline-block;
    padding: 15px 29px;
    color: $white;
    border: 0.1rem solid transparent;
    font-size: toRem(13);
    letter-spacing: .1rem;
    font-weight: $fontBold;
    transition: all .2s ease;
}


.productCategories {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(toRem(223),1fr));
    gap: toRem(46) toRem(30);
    @media(max-width: $layout-breakpoint-medium) {
        gap: toRem(46) toRem(10);
    }

    .productCategory {
        background-color: $gray !important;
        border-radius: 10px;
        position: relative;
        min-height: toRem(210);
        &:nth-child(3){
            @media(max-width: toRem(765)) {
                margin-top: 2rem;
            }
        }
        &:nth-child(2){
            @media(max-width: toRem(506)) {
                margin-top: 2rem;
            }
        }

        span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -60%);
        }

        p {
            text-align: center;
            font-size: toRem(15);
            font-weight: $fontBold;
            color: $black;
        }

        img {
            position: absolute;
            top: -28%;
            left: 50%;
            transform: translateX(-50%);
            @extend %img-fluid;
           
        }
        .productImage1, .productImage2 {
            width: 110px;
            height: 140px; 
        }

        .productImage3 {
            width: 135px;
            height: 140px; 
        }

        .linkWrapper {
            @extend %flex-ac;
            gap: .4rem;
            margin-top: 1rem;
            justify-content: center;
       

        .redirectBtn{
            color: #00000080;
            text-align: center;
            font-size: toRem(13);
            letter-spacing: .1rem;
            font-weight: $fontBold;
            transition: color 0.3s ease;
            background-color: transparent;
            border: none;
            &:hover {
                color: $primary;
            }


        }
        }

    }
}