@import "../../styles/sass/abstracts/variables";
@import "../../styles/sass/components/globals";
@import "../../styles/sass/components/mixins";


.main {
    background-color: $gray-light;


    .productWrapper {
        @extend %container;
        margin: 4rem auto 7rem;
    
        .backButton{
            border: none;
            background-color: transparent;
            font-size: toRem(15);
            color: #00000080;
        }
    
        // Product Details
        .productDetails {
            margin-top: 4rem;
            @extend %flex;
            @media (max-width: $layout-breakpoint-medium) {
                flex-direction: column;
              }
    
            .left {
                width: 45%;
                background-color: $gray;
                border-radius: toRem(8);
                padding: toRem(80);
                height: toRem(560);
                max-width: toRem(540);
                @extend %flex-ac;
                justify-content: center;
                @media (max-width: $layout-breakpoint-medium) {
                    height: toRem(480);
                    padding: toRem(40);
                    width: 100%;
                    max-width: 100%;
                  }
                  @media (max-width: $layout-breakpoint-xsmall) {
                    height: toRem(327);
                    padding: toRem(40);
                    
                  }
                img {
                    @extend %img-fluid;
                }
                .desktopImage {
                    @media (max-width: $layout-breakpoint-xsmall) {
                        display: none;
                      }
                }

                .mobileImage {
                    display: none;
                    @media (max-width: $layout-breakpoint-xsmall) {
                        display: block;
                      }
                }
            }
    
            .right {
                width: 40%;
                @media (max-width: $layout-breakpoint-medium) {
                    margin-top: 2rem;
                    width: 65%;
                    margin-right: auto;
                  }
                  @media (max-width: $layout-breakpoint-xsmall) {
                    width: 100%;
                  }
                .productHeading {
                    font-size: $textSmall;
                    letter-spacing: 10px;
                    color: $primary;
                    margin-bottom: toRem(17);
                }
                h2 {
                    @extend %heading2;
                    color: $black;
                    margin-bottom: 2rem;
                    text-align: start;
                }
                .productBrief{
                    font-size: toRem(15);
                    line-height: toRem(25);
                    color: $black-light;
                }
                .price {
                    font-size: toRem(18);
                    letter-spacing: 1px;
                    line-height: toRem(24);
                    margin: 2rem 0 2.9375rem;

                }

                .buttons{
                    @extend %flex-ac;
                    gap: 1rem;
                    .qtyUpdateButtons{
                        background-color: $gray;
                        padding: 14px 29.5px;
                        max-width: max-content;
                        @extend %flex-ac;
                        gap: 1.2rem;

                        button{
                            color: $black-lighter;
                            font-size: toRem(16);
                            font-weight: $fontBold;
                            transition: all .2s ease;
                            background-color: transparent;
                            border: none;
                            &:hover {
                                color: $primary;
                            }
                        }

                        span {
                            font-weight: $fontBold;
                            color: $black;
                        }
                    }
                    .addtoCartButton{
                        display: inline-block;
                        @extend %baseButton;
                    }
                }
            }
        }

        // Product Features
        .productFeatures{
            margin-top: 6rem;
            @extend %flex;
            @media (max-width: $layout-breakpoint-medium) {
                flex-direction: column;
                gap: 6rem;
              }

            .left {
                width: 55%;
                @media (max-width: $layout-breakpoint-medium) {
                    width: 100%;
                  }
                h3{
                    font-weight: $fontBold;
                    letter-spacing: 1.114px;
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }
                p {
                    color: $black-light;
                }
            }

            .right {
                align-self: flex-start;
                width: 35%;
                @media (max-width: $layout-breakpoint-medium) {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                  }
                  @media (max-width: $layout-breakpoint-xsmall){
                    flex-direction: column;
                  }
                h3 {
                    @extend %heading3;
                    color: $black;
                    text-align: start;
                    margin-bottom: 2rem; 
                    @media (max-width: $layout-breakpoint-xsmall){
                        margin-bottom: 1rem;
                      }
                }
                .featuresList {
                    display: flex;
                    flex-direction: column;
                    gap: toRem(8);

                    li {
                        list-style-type: none;
                        @extend %flex-ac;
                        gap: 1rem;
                        span{
                            &:nth-child(1){
                                font-weight: $fontBold;
                                color: $primary;
                            }
                            &:nth-child(2){
                                font-weight: $fontMedium;
                                color: $black-light;
                                font-size: toRem(15);
                            }
                        }
                    }
                }
            }
        }

        // Product Gallery
        .productGallery {
            margin-top: 6rem;
            display: grid;
            grid-template-rows: repeat(2,toRem(280));
            grid-template-columns: repeat(2,1fr);
            gap: toRem(20) toRem(18);

            @media (max-width: $layout-breakpoint-medium) {
                grid-template-rows: repeat(2,toRem(174));
              }

              @media (max-width: $layout-breakpoint-xsmall) {
                grid-template-columns: 100%;
                grid-template-rows: repeat(4,toRem(174));
                gap: toRem(20);
              }

              .firstImage{
                grid-row: 1;
                grid-column: 1;
              }

              .secondImage{
                grid-row: 2;
                grid-column: 1;
              }

              .thirdImage{
                grid-row: 1 / span 2;
			    grid-column: 2 / span 2;

                @media (max-width: $layout-breakpoint-xsmall){
                    grid-row: 3 / span 2;
                    grid-column: auto;
                }
              }

              .firstImage, .secondImage, .thirdImage {
                overflow: hidden;
                border-radius: 8px;

                .desktopImage {
                    @extend %img-fluid-top;
                    @media (max-width: $layout-breakpoint-xsmall) {
                        display: none;
                      }
                }

                .mobileImage {
                    display: none;
                    @extend %img-fluid-top;
                    @media (max-width: $layout-breakpoint-xsmall) {
                        display: block;
                      }
                }
              }
            
        }

        // Suggestions
        .suggestions {
            margin-top: 6rem;
            margin-bottom: 12rem;

            h3 {
                @extend %heading3; 
                color: $black;
            }

            .products {
                margin-top: 2rem;
                display: grid;
                grid-template-columns:  repeat(auto-fit,minmax(toRem(223),1fr));;
                gap: toRem(30);

                .suggestion {
                    @extend %flex-ac;
                    flex-direction: column;
                    border-radius: 8px;
                    gap: 2.5rem;

                    .imageWrapper {
                        height: toRem(318);
                        padding: toRem(60);
                        background-color: $gray;
                        width: 100%;
                        @extend %flex-ac;
                        justify-content: center;
                        border-radius: 8px;
                        @media (max-width: $layout-breakpoint-xsmall) {
                            height: toRem(120);
                            padding: 2.5rem;
                          }
                        .desktopImage {
                            @extend %img-fluid-down;
                            @media (max-width: $layout-breakpoint-xsmall) {
                                display: none;
                              }
                        }
        
                        .mobileImage {
                            display: none;
                            @extend %img-fluid-down;
                            @media (max-width: $layout-breakpoint-xsmall) {
                                display: block;
                              }
                        }
                    }

                    .details {
                        @extend %flex-ac;
                        flex-direction: column;
                        gap: 2rem;
                        h3 {
                            letter-spacing: toRem(1.714);
                            text-transform: uppercase;
                            font-size: toRem(24);
                            line-height: normal;
                        }
                        a {
                            @extend %baseButton;
                        }
                    }

                    
                }
            }
        }
    }

    
}
