@import "../../styles/sass/abstracts/variables";
@import "../../styles/sass/components/globals";
@import "../../styles/sass/components/mixins";


.main {
    background-color: $gray-light;

    .productWrapper {
        width: 1200px;
        max-width: 80%;
        margin: 4rem auto 7rem;
    
        .backButton{
            border: none;
            background-color: transparent;
            font-size: toRem(15);
            color: #00000080;
        }
    
        .productDetails {
            margin-top: 4rem;
            @extend %flex;
    
            .left {
                width: 45%;
                background-color: $gray;
                border-radius: 8px;
                img {
                    @extend %img-fluid;
                    
                }
            }
    
            .right {
                width: 40%;
                .productHeading {
                    font-size: $textSmall;
                    letter-spacing: 10px;
                    color: $primary;
                    margin-bottom: toRem(17);
                }
                h2 {
                    font-size: toRem(40);
                    text-transform: uppercase;
                    font-weight: $fontBold;
                    margin-bottom: 2rem;
                    letter-spacing: 1px;
                }
                .productBrief{
                    font-size: toRem(15);
                    line-height: toRem(25);
                    color: $black-light;
                }
                .price {
                    font-size: toRem(18);
                    letter-spacing: 1px;
                    line-height: toRem(24);
                    margin: 2rem 0 2.9375rem;

                }

                .buttons{
                    @extend %flex-ac;
                    gap: 1rem;
                    .qtyUpdateButtons{
                        background-color: $gray;
                        padding: 14px 29.5px;
                        max-width: max-content;
                        @extend %flex-ac;
                        gap: 1.2rem;

                        button{
                            color: $black-lighter;
                            font-size: toRem(16);
                            font-weight: $fontBold;
                            transition: all .2s ease;
                            background-color: transparent;
                            border: none;
                            &:hover {
                                color: $primary;
                            }
                        }

                        span {
                            font-weight: $fontBold;
                            color: $black;
                        }
                    }
                    .addtoCartButton{
                        display: inline-block;
                        background: $primary;
                        padding: 17px 29.5px;
                        color: $white;
                        transition: all .2s ease;
                        font-weight: $fontBold;
                        font-size: toRem(13);
                        border: transparent;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }

        .productFeatures{
            margin-top: 6rem;
            @extend %flex;

            .left {
                width: 55%;
                h3{
                    font-weight: $fontBold;
                    letter-spacing: 1.114px;
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }
                p {
                    color: $black-light;
                }
            }

            .right {
                align-self: flex-start;
                width: 35%;
                h3 {
                    font-weight: $fontBold;
                    letter-spacing: 1.114px;
                    font-size: 2rem;
                    margin-bottom: 2rem; 
                }
                .featuresList {
                    display: flex;
                    flex-direction: column;
                    gap: toRem(8);

                    li {
                        list-style-type: none;
                        @extend %flex-ac;
                        gap: 1rem;
                        span{
                            &:nth-child(1){
                                font-weight: $fontBold;
                                color: $primary;
                            }
                            &:nth-child(2){
                                font-weight: $fontMedium;
                                color: $black-light;
                                font-size: toRem(15);
                            }
                        }
                    }
                }
            }
        }
    }
}
